
        #name {
            font-size: 36px;
            color: #33485e;
            border-bottom: 1px solid #33485e;
            width: 60%;
            min-width: 300px;
            margin: 0 auto;
            text-align: center;

        }
       .sectionheader{
            font-size: 28px;
            color: #000000;
            margin: 20px 0 10px 0;
            width: 70%;
            min-width: 300px;

        }
        .jobtitle{
            font-size: 1.25em;
            color: #000000;

        }
        .organization{
            font-size: 1.25em;
            color: #000000;

        }
        .date{
            font-size: 16px;
            color: #000000;
            margin: 2px 0 0px 0;

        }
        .description{
            margin: 10px 0 10px 0;

        }
        .menu{
            margin: 0px;
            padding: 0px;
            text-align: center;
    
        }
        .menu li{
            display: inline;

        }
        #title{
        text-align: center;
        font-size:1em;

\
        } 

